<button
  mat-button
  class="user-menu__trigger"
  [matMenuTriggerFor]="userMenu"
  aria-label="User menu"
>
  <span class="user-menu__avatar">{{ initials() }}</span>
</button>

<mat-menu #userMenu="matMenu" xPosition="before" panelClass="ld-user-menu user-menu__panel">
  <div class="user-menu__header" mat-menu-item disabled>
    <span class="user-menu__name">
      {{ user()?.firstName }} {{ user()?.lastName }}
      @if (isAdmin()) {
        <span class="user-menu__role">Admin</span>
      }
    </span>
    <span class="user-menu__email">{{ user()?.email }}</span>
  </div>

  <a mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span class="user-menu__item-label">Settings</span>
  </a>
  <button mat-menu-item type="button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span class="user-menu__item-label">Logout</span>
  </button>
</mat-menu>
