<button
  type="button"
  class="user-menu__trigger"
  [matMenuTriggerFor]="userMenu"
  [attr.aria-label]="'nav.userMenu' | translate"
>
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #userMenu="matMenu" xPosition="before" panelClass="ld-user-menu user-menu__panel">
  <div class="user-menu__header" mat-menu-item disabled>
    <span class="user-menu__name">
      {{ user()?.firstName }} {{ user()?.lastName }}
      @if (isAdmin()) {
        <span class="user-menu__role">{{ 'common.admin' | translate }}</span>
      }
    </span>
    <span class="user-menu__email">{{ user()?.email }}</span>
  </div>

  <button
    mat-menu-item
    type="button"
    [matMenuTriggerFor]="languageMenu"
    data-testid="user-menu-language"
  >
    <mat-icon>language</mat-icon>
    <span class="user-menu__item-label">{{ 'settings.language.label' | translate }}</span>
  </button>
  <mat-menu #languageMenu="matMenu" xPosition="before" class="user-menu__language-menu">
    <button
      mat-menu-item
      type="button"
      data-testid="user-menu-language-en"
      (click)="setLanguage('en')"
    >
      @if (languageService.language() === 'en') {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon class="user-menu__check-spacer"></mat-icon>
      }
      <span class="user-menu__item-label">{{ 'settings.language.en' | translate }}</span>
    </button>
    <button
      mat-menu-item
      type="button"
      data-testid="user-menu-language-fr"
      (click)="setLanguage('fr')"
    >
      @if (languageService.language() === 'fr') {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon class="user-menu__check-spacer"></mat-icon>
      }
      <span class="user-menu__item-label">{{ 'settings.language.fr' | translate }}</span>
    </button>
  </mat-menu>

  <a mat-menu-item routerLink="/settings" data-testid="user-menu-settings">
    <mat-icon>settings</mat-icon>
    <span class="user-menu__item-label">{{ 'nav.settings' | translate }}</span>
  </a>
  <button mat-menu-item type="button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span class="user-menu__item-label">{{ 'nav.logout' | translate }}</span>
  </button>
</mat-menu>
