<div
  class="add-attribute-modal"
  role="presentation"
  (click)="onBackdropClick($event)"
  (keydown)="onKeydown($event)"
>
  <div
    class="add-attribute-modal__panel"
    role="dialog"
    aria-modal="true"
    aria-labelledby="add-attribute-title"
    tabindex="-1"
  >
    <h2 id="add-attribute-title" class="add-attribute-modal__title">
      {{ 'tables.attributes.add' | translate }}
    </h2>

    <div class="add-attribute-modal__content">
      <mat-form-field appearance="outline" class="add-attribute-modal__field">
        <mat-label>{{ 'tables.fields.name' | translate }}</mat-label>
        <input matInput [(ngModel)]="name" autofocus />
      </mat-form-field>

      <mat-form-field appearance="outline" class="add-attribute-modal__field">
        <mat-label>{{ 'tables.fields.type' | translate }}</mat-label>
        <mat-select [ngModel]="type" (ngModelChange)="onTypeChange($event)">
          @for (option of typeOptions; track option.value) {
            <mat-option [value]="option.value">{{ option.label | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (showOptionsField) {
        <label class="add-attribute-modal__label" id="add-attribute-options-label">
          {{ 'tables.attributes.options' | translate }}
        </label>
        <div
          class="add-attribute-modal__options"
          role="group"
          aria-labelledby="add-attribute-options-label"
        >
          <mat-chip-grid
            #optionsChipGrid
            [attr.aria-label]="'tables.attributes.enumOptions' | translate"
          >
            @for (option of options; track option) {
              <mat-chip-row
                class="add-attribute-modal__option"
                (removed)="removeOption(option)"
              >
                {{ option }}
                <button
                  matChipRemove
                  [attr.aria-label]="'tables.attributes.removeOption' | translate: { option: option }"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            class="add-attribute-modal__options-input"
            [placeholder]="'tables.attributes.optionPlaceholder' | translate"
            [matChipInputFor]="optionsChipGrid"
            [matChipInputSeparatorKeyCodes]="optionSeparatorKeys"
            (matChipInputTokenEnd)="addOptionFromInput($event)"
          />
        </div>
      }

      @if (error()) {
        <div class="add-attribute-modal__error">{{ error() }}</div>
      }
    </div>

    <div class="add-attribute-modal__actions">
      <button mat-stroked-button type="button" (click)="cancel()">
        {{ 'common.cancel' | translate }}
      </button>
      <button mat-flat-button type="button" (click)="save()">
        {{ 'tables.attributes.add' | translate }}
      </button>
    </div>
  </div>
</div>
