<div class="shell" id="navbar-header" data-ld-navbar>
  <header class="shell__navbar">
    <div class="shell__navbar-left">
      <a
        routerLink="/projects"
        class="shell__brand"
        [attr.title]="'nav.home' | translate"
        [attr.aria-label]="'nav.brandName' | translate"
      >
        <img
          class="shell__brand-mark"
          src="assets/brand-mark.svg"
          alt=""
          width="34"
          height="34"
          aria-hidden="true"
        />
        <span class="shell__brand-name">
          <em>{{ 'nav.brandNameLead' | translate }}</em>
          {{ 'nav.brandNameTrail' | translate }}
        </span>
      </a>
    </div>

    @if (activeProjectService.activeProject()) {
      <app-navbar-search />
    } @else {
      <div class="shell__navbar-spacer"></div>
    }

    <div class="shell__navbar-right">
      @if (activeProjectService.activeProjectUuid()) {
        <app-navbar-project-switcher />
      }
      @if (askAiEnabled()) {
        <button
          type="button"
          class="shell__icon-btn shell__icon-btn--ai"
          [attr.aria-label]="'nav.askAi' | translate"
          (click)="openAiAssistant()"
        >
          <mat-icon>auto_awesome</mat-icon>
        </button>
      }
      @if (showHelp) {
        <button
          type="button"
          class="shell__icon-btn"
          disabled
          [attr.aria-label]="'nav.help' | translate"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (showNotifications) {
        <button
          type="button"
          class="shell__icon-btn shell__icon-btn--notifications"
          disabled
          [attr.aria-label]="'nav.notifications' | translate"
        >
          <mat-icon>notifications_none</mat-icon>
          <span class="shell__notification-dot"></span>
        </button>
      }
      <a
        routerLink="/settings"
        class="shell__settings-btn"
        [attr.aria-label]="'nav.settings' | translate"
      >
        <mat-icon>settings</mat-icon>
      </a>
      <app-navbar-user-menu />
    </div>
  </header>

  <main class="shell__content">
    <router-outlet />
  </main>
  @if (askAiEnabled()) {
    <app-ai-assistant-panel />
  }
</div>
