@if (loading()) {
  <div class="project-general-tab__loading">
    <mat-spinner diameter="32" />
  </div>
} @else if (error()) {
  <div class="project-general-tab__error">{{ error() }}</div>
} @else {
  @if (project(); as item) {
    <div class="project-general-tab">
      <header class="project-general-tab__header">
        <div>
          <h2 class="project-general-tab__title">General information</h2>
          <p class="project-general-tab__subtitle">
            Overview of this project. Name and metadata are read-only until project editing is
            supported by the API.
          </p>
        </div>
      </header>

      <dl class="project-general-tab__fields">
        <div class="project-general-tab__field">
          <dt>Name</dt>
          <dd>{{ item.name }}</dd>
        </div>

        <div class="project-general-tab__field">
          <dt>Project ID</dt>
          <dd class="project-general-tab__mono">{{ item.projectUuid }}</dd>
        </div>

        <div class="project-general-tab__field">
          <dt>Type</dt>
          <dd>{{ item.type }}</dd>
        </div>

        <div class="project-general-tab__field">
          <dt>Warehouse type</dt>
          <dd>{{ warehouseLabel(item.warehouseType) }}</dd>
        </div>

        @if (item.createdByUserName) {
          <div class="project-general-tab__field">
            <dt>Created by</dt>
            <dd>{{ item.createdByUserName }}</dd>
          </div>
        }

        <div class="project-general-tab__field">
          <dt>Created</dt>
          <dd>{{ formatDate(item.createdAt) }}</dd>
        </div>
      </dl>
    </div>
  }
}
